extends default.pug

block content
    article#wrapper
        h1(class="titulo") Um exemplo
        p Descrição
        div
            ul
            each val in [1, 2, 3, 4, 5]
                li= val
